
h1 {
    margin-left:15px;
}
    
    //login.html.slim
#login{
    .loginform p{
        text-align:center;
    }  
    .form-group .btn.btn-primary{
        position:center;
    }
    .form-group p{
        text-align:center;
    }
}

    //professor.html.slim
#rooms {
    text-align:left;
    padding-left:40px;
    .btn-info{
        width:100%;
        margin-left:30px;
        opacity:0.9;
    }
}

#newroom{
    .form-group{
        margin-left:150px;
    }    
    h3{
        margin-left:100px;
    }
}


.header-manage{
    text-align:right;
}

.mypage2{
    font-size:20px;
    margin-top:30px;
}

.logout2{
    font-size:20px;
    margin-top:30px;
}